[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.11.1"
bs4 = "==0.0.1"
certifi = "==2022.9.24"
charset-normalizer = "==2.1.1"
idna = "==3.4"
pyyaml = "==6.0"
requests = "==2.28.1"
soupsieve = "==2.3.2.post1"
urllib3 = "==1.26.12"
pysocks = "*"
psutil = "*"
oyaml = "*"
selenium = "*"
slack-sdk = "*"
pillow = "*"
qrcode = "*"
flask = "*"
pyopenssl = "*"
aiohttp = "*"
aiosocksy = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
